body {
    overflow: hidden;
    margin: 0;
}

h1 {
    font-family: "Rubik Mono One";
    font-size: small;
    color: black;
}

h3 {
    font-family: "Rubik Mono One";
    font-size: x-large;
    color: white;
}

h4 {
    font-family: "Rubik Mono One";
    color: gray;
}

h5 {
    font-family: "Rubik Mono One";
    font-size: x-large;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-family: "Roboto Mono";
    color: white;
}

#map {
    width: 100vw;
    height: 100vh;
}

#contribute {
    background-color: black;
    color: white;
    font-family: "Rubik Mono One";
    font-size: larger;
    padding: 10px;
    border-color: white;
    display: block;
    margin: auto;
}

#playerButton {
    background-color: black;
    color: white;
    font-family: "Rubik Mono One";
    font-size: larger;
    padding: 10px;
    border-color: white;
    display: block;
    margin: auto;
}

